body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);  /* This gives a slight lift effect to the button */
}

button:active {
    transform: translateY(1px);  /* This gives a pressed down effect */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 1s ease-out;
}
